<div class="detailsModal">
  <div class="modal-header">
      <h2 class="modal-title">{{modal.car.ShortDescription}}</h3>
  </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-6">
          <img width="400px" ng-src="{{modal.car.ImageUrl}}" alt="{{modal.car.ShortDescription}}" />
        </div>
        <div class="col-xs-6">
          <h4>{{modal.car.FullDescription}}</h4>
          <h4>{{modal.car.Price|currency}}</h4>
        </div>
      </div>
    </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
  </div>
</div>
