<div class="container divLeft" ng-controller='CarController as controller'>
  <div class="row">
     <div class="col-md-6">
      <table border='1' cellspacing='3' cellpadding='3' class='table table-striped' >
        <tr>
          <th>Car ID</th>
          <th>Car Make</th>
          <th>Year</th>
          <th>Price</th>
        </tr>
        <tr ng-repeat='car in controller.filterCars'>
            <td>{{car.id}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.price}}</td>
        </tr>
      </table>
    </div>


    <div class="col-md-6" >
      <select ng-model='controller.makeIdSelected' ng-options='makes.name for makes in controller.makes' ng-change='controller.makeSelect(controller.makeIdSelected)'>

      </select>

      <span ng-bind='controller.CarMakeId'></span>
    </div>

    <br>

  </div>
</div>
