<!DOCTYPE html>
<html ng-app="DemoMaterial">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Required for angular-material-->
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body ng-controller='TODOController as controller'  ng-cloak>

    <md-icon>cake</md-icon>
    <md-icon>mood_bad</md-icon>
    <md-icon>create</md-icon>

    <md-button class="md-raised">OK</md-button>
    <md-button class="md-raised md-primary">OK Primary</md-button>
    <md-button class="md-raised md-warn">OK Warning</md-button>

    <h1>Layout Row</h1>
    <div layout="row">
      <div flex>
        apples
      </div>
      <div flex>
        oranges
      </div>
      <div flex>
        peanuts
      </div>
    </div>

    <h1>Layout Column</h1>
    <div layout="column">
      <div flex>
        apples
      </div>
      <div flex>
        oranges
      </div>
      <div flex>
        peanuts
      </div>
    </div>

    <h1>Using flex in Layout Row</h1>
    <div layout="row">
      <div flex="50" style="background-color:blue">
        apples
      </div>
      <div flex="25"  style="background-color:green">
        oranges
      </div>
      <div flex="25" style="background-color:red">
        peanuts
      </div>
    </div>

    <h1>Layout Row - responsive</h1>
    <div layout="row" layout-sm="column">
      <div flex>
        I'm above on mobile, and to the left on larger devices.
      </div>
      <div flex>
        I'm below on mobile, and to the right on larger devices.
      </div>
      <div hide-sm>
        I'm hidden on mobile.
      </div>
    </div>

    <h1>Material Form</h1>
    <form name="movieForm" novalidate>
      <div layout="row" layout-padding>
        <md-input-container>
         <label>Movie Title</label>
         <input name="title" ng-model="vm.title" md-maxlength="10" required>
         <div ng-messages="movieForm.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
         </div>
        </md-input-container>
        <md-input-container>
         <label>Movie Director</label>
         <input name="director" ng-model="vm.director" required>
         <div ng-messages="movieForm.director.$error">
            <div ng-message="required">This is required.</div>
         </div>
        </md-input-container>
      </div>
      <div>
        <md-datepicker ng-model="vm.dateReleased" md-placeholder="Release Date"></md-datepicker>
      </div>
      <div>
        <md-button class="md-primary">Save</md-button>
      </div>
    </form>

    <h1>MY FORM</h1>

    <form name='myForm' novalidate>
      <div layout='row' layout-padding>
        <md-input-container>
          <label>First Name : </label>
          <input name='firstName' ng-model='controller.firstName' md-maxlength="10" required>
          <div ng-messages="myForm.firstName.$error">
             <div ng-message="required">This is required.</div>
             <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
          </div>
        </md-input-container>
      </div>
    </form>

    <h1>Material Dialog</h1>
      <md-button ng-click="controller.openDialog()">Open Dialog</md-button>
      <md-divider></md-divider>
      {{controller.favoriteColor}}

      <div layout='row'>
        <div flex='75'>
          First Column
        </div>
        <div flex='25' style='background-color: green' height='50px'>
          Second Column
        </div>
      </div>


      <!-- PASSING DATA TO A DIALOG -->

      <!-- <body ng-controller="FavoriteAnimalController as controller"> -->

    <h2>Select your favorite animal:</h2>
      <md-button class="md-raised" ng-click="cont.openDialog('Tiger')">Tiger</md-button>
      <br />
      <md-button class="md-raised" ng-click="cont.openDialog('Orangutan')">Orangutan</md-button>
      <br />
      <md-button class="md-raised" ng-click="cont.openDialog('Cheetah')">Cheetah</md-button>



      <h1>TODO LIST</h1>

      <div ng-repeat='todo in controller.todos'>
        <span ng-bind='todo'></span>
      </div>

      <form name='myForm' ng-submit='controller.todoRun(controller.todo)' novalidate>
        <div layout='row' layout-padding>
          <!-- <md-input-container>
            <label>Enter ID : </label>
            <input name='id' ng-model='controller.id' md-maxlength="2" required>
               <div ng-messages="myForm.id.$error">
               <div ng-message="required">This is required.</div>
               <div ng-message="md-maxlength">The name has to be less than 2 characters long.</div>
            </div>
          </md-input-container> -->
          <md-input-container>
            <label>Enter TODO Errand : </label>
            <input name='todo' ng-model='controller.todo' md-maxlength="20" required>
               <div ng-messages="myForm.todo.$error">
               <div ng-message="required">This is required.</div>
               <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
            </div>
          </md-input-container>
          <md-button class="md-raised" type='submit' value='Submit' ng-click="controller.openDialog(controller.todo)">SUBMIT</md-button>
        </div>
      </form>

      <!-- USING ANIMATIONS WITH NG-REPEAT -->
<!-- 
      <ul>
    <li ng-repeat="task in taskList.tasks" class="task">
        {{task.name}}
    </li>
</ul>


<form ng-submit="taskList.addTask()">
    <input ng-model="taskList.newTask" />
    <input type="submit" value="Add" />
</form> -->


    <!-- Standard angular files -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- Required for angular-material -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>

    <!-- app files -->
    <script src="app.js"></script>
    <script src="controllers.js" charset="utf-8"></script>
</body>
</html>



<!-- STEPS FOR ANGULAR MATERIALS -->
<!--
mkdir angularmaterialtest && cd angularmaterialtest

[2:22]
touch index.html app.ts controllers.ts styles.css

[2:22]
bower init

[2:23]
(hit return until done)

[2:23]
npm init

[2:23]
(hit return until done)

bower install angular angular-animate angular-aria angular-material angular-messages angular-resource angular-ui-router --save

npm install typings --save

typings install dt~angular dt~angular-animate dt~angular-material --global --save

touch animalDialog.html dialog.html -->

<!-- namespace DemoMaterial {

  angular.module('DemoMaterial', ['ngMaterial', 'ngMessages']);

} -->
