
body {
  background-color: beige;
  margin:20px;
  font-family: 'Times New Roman', Times, serif;
  min-width: 360px;
  max-width: 100%;
}

input {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 50px;
}

.searchStyle {
  color: white;
  padding-top: 5px;
  margin-left: 260px;
}

.dropdown {
  margin-left: 90px;
  padding-bottom: 6px;
}
/*
.navStyle {
  min-width: 360px;
  max-width: 100%;
}*/
