p<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <title>cardealershipproject</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/site.css"/>

</head>

<body ng-controller='HomeController as controller'>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Car Dealership</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a ui-sref="About">Car Models</a></li>
        <li><a ui-sref="Details">Details</a></li>
        <li><h4 class='searchStyle'>Search Cars</h4></li>
        <input ng-model="controller.search" size='50'
               ng-model-options="{debounce:1000}"
               ng-change="controller.fetch()" />

               <!-- Single button -->
           <div ng-controller='MakesController as controller' class="btn-group dropdown" uib-dropdown is-open="status.isopen">
             <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
               Select Car <span class="caret"></span>
             </button>
             <ul class="dropdown-menu"  uib-dropdown-menu role="menu" aria-labelledby="single-button">
               <li ng-repeat="make for make in controller.makes" role="menuitem"></li>
                <h3>{{make.id}}</h3>
               <!-- <li role="menuitem"><a href="#">Tesla</a></li>
               <li role="menuitem"><a href="#">Mini-Cooper</a></li> -->
               <li class="divider"></li>
               <li role="menuitem"><a href="#">Separated link</a></li>
             </ul>
           </div>
      </ul>
    </div>
  </nav>

  <ul>
    <li ng-repeat="car in controller.cars">
        <h3>{{car.ShortDescription}}</h3>
    </li>
  </ul>


<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Car Dealership</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a ui-sref="About">Car Models</a></li>
      <li><a ui-sref="Details">Details</a></li>
    </ul>
  </div>
</nav> -->

  <ui-view></ui-view>



  <!-- <input type="button" value="Get Cars" ng-click="controller.getCars(selectedMakeId)"> -->



  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
</body>

</html>
